@model IEnumerable<RashidHospital.Models.ChemoTherapyCycleDayVM>
<style>
    .form-control {
        margin-bottom: 4px;
    }

    .columns {
        float: left;
        position: relative;
        margin-right: 41px;
        background-color: azure;
        padding-right: 59px;
        column-count: 2;
        width: 1000px;
    }
</style>
<div class="modal-body">


    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>

                    <th>Date</th>



                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>

                        <td>


                            @Html.ActionLink("Start", "Index", " ChemoTherapyCycleDay", new { MainCycleId = item.ID }, null)

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>