@model RashidHospital.Models.ChemoTherapyTemplateVM



<link href="~/Content/dataTables.bootstrap4.css" rel="stylesheet" />
<style>
    .columns {
        float: left;
        position: relative;
        margin-right: 41px;
        background-color: azure;
        padding-right: 59px;
        column-count: 2;
        width: 1000px;
    }
</style>
<section class="content-header">
    <h2>ChemoTherapy</h2>
    @Html.Raw(ViewBag.PatientInfo)
</section>